.item{
    width: 500px;
    height: 200px;
    background-color: ghostwhite;
    border-radius: 7px;
    margin: 0 0 15px 0;
    box-shadow: 2px 2px 2px 0 gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.items_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cart_buy{
    display: flex;
    margin: 0;
    padding: 0;
    height: 20%;
    border-radius:0 0 7px 7px;
    background-color:rgb(103, 243, 103);
    flex-direction: row;
    justify-content:stretch;
    list-style-type: none;
}
.cart_buy > li{
    width: 50%;
    text-align: center;
}
 .product_img{
    background-color: blueviolet;
    width: 80px;
    height: 80px;
}
.contents{
    height: 79%;
    display: flex;
    flex-direction: row;
}
.info{
    margin: 0 0 0 5%;
}
.head_bar{
    width: 100%;
    height: 40px;
    background-color: #84A9FF;
}
.product_display{
    width: 100%;
    height: fit-content;
    background-color: #D6E4FF;
    display: flex;
    flex-direction: row;
}
.image_buttons{
    display: flex;
    flex-direction: column;
    margin: 0 0 5vw 0;
}
.image_buttons > img{
    width: 400px;
    height: 400px;
    background-color: darkviolet;
    border-radius: 15px;
    margin: 5vw 2vw 2vw 2vw;
}
.cartbuy{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}
.cartbuy > li{
    width: 40%;
    height: 40px;
    line-height: 40px;
    color: white;
    text-align: center;
    border-radius: 7px;
    background-image:linear-gradient(to right, #84A9FF, #3366FF);
    box-shadow: 2px 2px 2px 0 #1939B7;
    border: 2px solid white;
}
.product_info{
    margin: 5vw 0 0 0;
}
.product_info  label{
    font-size:1rem;
}
.selection_bar{
    display: flex;
    flex-direction: column;
}
.selection_bar > div{
    border: 1px solid white;
    margin: 1vw;
    border-radius: 5px;
}
.selection_bar > div > select{
    width: 10vw;
    height: 25px;
    margin: 5px 0 0 2vw;
    border:none;
}